.ssb-dropdown {
  @include roboto;
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
  max-width: 350px;
  min-width: 230px;
  position: relative;

  label,
  .dropdown-label {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 5px;
  }

  .dropdown-interactive-area {
    cursor: pointer;
    position: relative;

    button {
      @include reset-button;
      width: 100%;
      background-color: $ssb-white;
      border: 1px solid $ssb-dark-6;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 16px;
      min-height: $input-field-height;
      padding: 4px $input-field-height 4px 12px;
      text-overflow: ellipsis;

      &:hover,
      &:focus {
        border: 1px solid $ssb-green-4;
        outline: 1px solid $ssb-green-4;
      }
    }

    .dd-icon {
      color: $ssb-green-4;
      font-size: 24px;
      position: absolute;
      right: 12px;
      top: 10px;
      pointer-events: none;
    }

    input {
      background-color: $ssb-white;
      border: 1px solid $ssb-dark-6;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 16px;
      height: $input-field-height;
      padding: 4px $input-field-height 4px 12px;
      text-overflow: ellipsis;
      width: 100%;

      &::placeholder {
        color: $ssb-dark-4;
      }

      &:hover,
      &:focus {
        border: 1px solid $ssb-green-4;
        outline: 1px solid $ssb-green-4;
      }
    }
  }

  &.error {
    input,
    button.opener {
      border: 1px solid $ssb-red-3;
      outline: 1px solid $ssb-red-3;
    }
  }

  .list-of-options {
    @include roboto;
    background: $ssb-white;
    border: 1px solid $ssb-dark-6;
    left: 0;
    list-style: none;
    margin: 0;
    max-height: 290px;
    min-width: 150px;
    overflow-y: auto;
    padding-left: 0;
    position: absolute;
    scrollbar-color: $scrollbar-color $ssb-white; // Not implemented on all browsers
    scrollbar-width: thin;
    top: $input-field-height;
    z-index: 9999;
    width: 100%;

    .option-list-element {
      @include roboto;
      background: $ssb-white;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.25;
      overflow: hidden;
      padding: 12px;
      text-overflow: ellipsis;
      transition: all 0.18s;
      box-sizing: border-box;
      width: 100%;

      &:hover,
      &:focus,
      &.active {
        background: $ssb-dark-5;
        color: $ssb-white;
        z-index: 2;
      }

      &.disabled {
        background: $ssb-white;
        color: $ssb-dark-2;
        cursor: not-allowed;
        font-weight: normal;
        pointer-events: none;

        &:hover,
        &:focus {
          text-decoration: none;
          background: none;
        }
      }

      &.selected {
        background: $ssb-green-4;
        color: $ssb-white;
        font-weight: bold;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: $ssb-white;
    border-bottom: 1px solid $ssb-dark-6;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 3px;
  }

  &.large {
    max-width: 100%;
    width: 100%;

    .dropdown-interactive-area {
      button {
        max-width: 100%;
        padding: 29px 40px;
        font-size: 20px;
      }
    }

    .list-of-options {
      max-width: 100%;
      width: 100%;
      top: auto;

      .option-list-element {
        max-width: 100%;
        width: 100%;
      }
    }

    .dd-icon {
      box-sizing: initial;
      top: 1px;
      padding: 15px;
    }

    input {
      padding: 40px;
      font-size: 20px;
    }
  }
}
