@use '../../style/variables';

.ssb-tag {
  @include variables.roboto;
  @include variables.reset-button;
  align-items: center;
  background: variables.$ssb-white;
  border: 1px solid variables.$ssb-green-4;
  border-radius: 20px;
  color: variables.$ssb-green-4;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 36px;
  line-height: 1.25;
  min-height: 26px;
  padding: 8px 16px;
  text-align: center;
  transition:
    background 0.18s,
    color 0.18s;
  white-space: nowrap;

  &:hover,
  &:active {
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &.active {
    background: variables.$ssb-green-4;
    color: variables.$ssb-white;
  }

  &:focus {
    @include variables.focus-ring;
  }

  &:active {
    background: variables.$ssb-dark-5;
    outline: 2px solid variables.$ssb-dark-5;
    color: variables.$ssb-white;
  }

  .st-icon {
    display: inline-flex;
    font-size: 18px;
    margin-right: 5px;
  }
}
