.ssb-input {
  @include roboto;
  cursor: text;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  position: relative;
  width: 100%;

  &:hover {

    input {
      border: 1px solid $ssb-green-4;
      outline: 1px solid $ssb-green-4;

      &:disabled {
        border: 1px solid $ssb-dark-5;
      }
    }
  }

  .input-wrapper {
    display: flex;

    ::placeholder {
      color: $ssb-dark-4;
      font-size: 14px;
      opacity: 1;
    }
  }

  label {
    color: $ssb-dark-6;
    cursor: text;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }

  input {
    @include roboto;
    background: $ssb-white;
    border: 1px solid $ssb-dark-5;
    box-sizing: border-box;
    color: $ssb-dark-6;
    font-size: 16px;
    height: $input-field-height;
    padding: 12px;
    text-overflow: ellipsis;
    width: 100%;

    &.with-icon {
      padding: 4px $input-field-height 4px 10px;
    }

    &:disabled {
      border: 1px solid $ssb-dark-5;
      cursor: not-allowed;
    }

    &:focus {
      border: 1px solid $ssb-green-4;
      outline: 1px solid $ssb-green-4;
      outline-offset: 0;
    }
  }

  &.negative {

    .input-wrapper {

      ::placeholder {
        color: $ssb-white;
        opacity: 1;
      }
    }

    &:hover {

      input {
        border: 1px solid $ssb-green-2;
        outline: 1px solid $ssb-green-2;

        &:disabled {
          border: 1px solid $ssb-white;
        }
      }
    }

    label {
      color: $ssb-white;
    }

    input {
      background: transparent;
      border: 1px solid $ssb-white;
      color: $ssb-white;

      &:disabled {
        border: 1px solid $ssb-white;
      }

      &:focus {
        border: 1px solid $ssb-green-2;
        outline: 1px solid $ssb-green-2;
        outline-offset: 0;
      }
    }

    .icon-wrapper {

      & > * {
        color: $ssb-green-2;
      }

      &.search-icon {
        cursor: pointer;

        &:hover, &:focus {
          background: $ssb-white;

          & > * {
            color: $ssb-dark-5;
          }
        }
      }
    }

    &.error {

      input {
        border: 1px solid $ssb-red-5;
        outline: 1px solid $ssb-red-5;
      }

      .icon-wrapper {

        & > * {
          color: $ssb-red-5;
        }
      }
    }
  }

  &.error {

    input {
      border: 1px solid $ssb-red-5;
      outline: 1px solid $ssb-red-5;
    }

    .icon-wrapper {

      & > * {
        color: $ssb-red-5;
      }
    }
  }

  .icon-wrapper {
    @include focus-marker;
    @include reset-button;
    align-items: center;
    display: flex;
    font-size: 18px;
    height: $input-field-height;
    justify-content: center;
    margin-left: -$input-field-height;
    width: $input-field-height;

    & > * {
      color: $ssb-green-4;
    }

    &.search-icon {
      cursor: pointer;

      &:hover, &:focus {
        background: $ssb-green-4;

        & > * {
          color: $ssb-white;
        }
      }
    }
  }

  &.input-lg {
    max-width: 100%;

    .search-icon {
      margin-left: -78px;
      height: 77px;
      width: 77px;
      padding: 17px;
    }

    input {
      width: 100%;
      padding: 38px 40px;
      font-weight: bold;
      font-size: 20px;

      &::placeholder {
        font-weight: normal;
        font-size: 20px;
      }
    }
  }
}
