.ssb-word-explanation {
  @include reset-button;
  cursor: pointer;
  display: inline-block;
  position: relative;

  .we-text-wrap {
    border-bottom: 1px dotted $ssb-green-4;
    display: inline-block;
    line-height: inherit;
  }

  .we-logo {
    margin: 2px;
    vertical-align: top;
  }

  .we-animate-background {
    background: $ssb-green-2;
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    transition: height .2s;
    width: 100%;
    z-index: -1;
  }

  &:hover, &:focus {

    .we-animate-background {
      height: 100%;
    }
  }

  .we-popup {
    @include open-sans;
    animation: fadein .2s;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -135px;
    opacity: 0;
    position: absolute;
    top: 34px;
    transition: opacity .18s;
    width: 270px;

    &:after {
      border-color: transparent transparent $ssb-dark-5 transparent;
      border-style: solid;
      border-width: 12px;
      content: '';
      left: 50%;
      margin-left: -12px;
      position: absolute;
      top: -22px;
    }

    &.open {
      display: inline-block;
      opacity: 1;
    }

    .content-box {
      background: $ssb-dark-5;
      color: $ssb-white;
      padding: 20px;

      .ssb-we-closing {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        user-select: none;
        width: 100%;

        .icon {
          color: $ssb-dark-5;
          fill: $ssb-green-2;
          font-size: 16px;
        }

        span {
          margin-left: 4px;
        }
      }

      .info-text {
        color: $ssb-white;
        font-size: 14px;
      }
    }
  }
}
