{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["module-resolver",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "root": [
          "./src"
        ]
      }
    ],
    ["prismjs", {
      "languages": ["javascript", "html", "css", "jsx"],
      "plugins": ["line-numbers"],
      "theme": "coy",
      "css": true
  }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["@babel/plugin-transform-modules-commonjs", {}],
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
