{
  "extends": "stylelint-config-standard-scss",
  "ignoreFiles": ["src/style/_variables.scss", "src/style/_grid.scss"],
  "rules": {
    "color-named": "never",
    "color-no-hex": true,
    "comment-no-empty": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-semicolon-newline-after": "always-multi-line",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-empty-line-before": "never",
    "length-zero-no-unit": true,
    "no-extra-semicolons": true,
    "max-empty-lines": 1,
    "no-descending-specificity": null,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "property-case": "lower",
    "rule-empty-line-before": "always-multi-line",
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-list-comma-newline-after": "never-multi-line",
    "selector-list-comma-space-after": "always",
    "selector-list-comma-space-before": "never",
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-element-case": "lower",
    "selector-type-case": "lower",
    "selector-type-no-unknown": [true, {"ignore":  ["default-namespace"]}],
    "value-list-comma-newline-after": "never-multi-line"
  }
}
