.ssb-quote {
  @include open-sans;
  background-image: linear-gradient(120deg, $ssb-green-1 0%, $ssb-green-1 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  font-size: 1.3rem;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.6;

  &.negative {
    background-image: linear-gradient(120deg, $ssb-green-5 0%, $ssb-green-5 100%);
    color: $ssb-white;
  }
}
