@use '../../style/variables';

.ssb-nested-accordion {
  @include variables.roboto;
  display: grid;
  margin-top: 8px;
  min-width: 300px;
  width: 100%;

  .nested-accordion-header {
    @include variables.reset-button;

    .button-grid {
      align-items: center;
      cursor: pointer;
      display: grid;
      column-gap: 16px;
      grid-template-columns: 15px 1fr;
    }

    .expand-icon {
      color: variables.$ssb-green-4;
      font-size: 16px;
    }

    .header-text {
      @include variables.roboto;
      color: variables.$ssb-dark-6;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25;
    }

    &:hover {
      .header-text {
        color: variables.$ssb-green-4;
      }
    }

    &.open {
      .header-text,
      .sub-header {
        color: variables.$ssb-green-4;
      }
    }

    &:focus {
      @include variables.focus-ring;
    }
  }

  .nested-accordion-body {
    @include variables.open-sans;
    color: variables.$ssb-dark-6;
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    overflow-x: auto;

    &.closed {
      display: none;
      height: 0;
    }
  }
}
