.ssb-btn {
  @include roboto;
  @include reset-button;
  align-items: center;
  background: $ssb-white;
  border: 2px solid $ssb-green-4;
  border-radius: 2px;
  color: $ssb-green-4;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: fit-content;
  line-height: 1.25;
  min-height: 40px;
  padding: 12px 20px;
  text-align: center;
  text-underline-position: under;
  transition:
    background 0.18s,
    color 0.18s;
  white-space: nowrap;

  &:hover,
  &:active {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background: $ssb-green-4;
    color: $ssb-white;
    text-decoration: underline;
  }

  &:focus {
    @include focus-ring;
  }

  &:active {
    background: $ssb-dark-5;
    border: 2px solid $ssb-dark-5;
    color: $ssb-white;
  }

  &:disabled {
    background: $ssb-white;
    border-color: $ssb-dark-2;
    color: $ssb-dark-2;
    cursor: not-allowed;
    font-weight: normal;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &.negative {
    background: $ssb-dark-5;
    color: $ssb-green-2;
    border-color: $ssb-green-2;

    &:hover,
    &:focus {
      background: $ssb-green-2;
      color: $ssb-dark-5;
    }

    &:active {
      background: $ssb-white;
      color: $ssb-dark-5;
    }

    &:disabled {
      background: $ssb-dark-5;
      border-color: $ssb-dark-4;
      color: $ssb-dark-4;
      font-weight: normal;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &.primary-btn {
    background: $ssb-green-4;
    border: 2px solid $ssb-green-4;
    color: $ssb-white;

    &:hover,
    &:active,
    &:focus {
      background: $ssb-dark-5;
      border: 2px solid $ssb-dark-5;
      text-decoration: underline;
    }

    &:disabled {
      background: $ssb-dark-2;
      border: 2px solid $ssb-dark-2;
      color: $ssb-white;
      cursor: not-allowed;
      font-weight: normal;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &.negative {
      background: $ssb-green-2;
      border: 2px solid $ssb-green-2;
      color: $ssb-dark-5;

      &:hover,
      &:active,
      &:focus {
        background: $ssb-white;
        border: 2px solid $ssb-white;
      }

      &:disabled {
        background: $ssb-dark-4;
        border-color: $ssb-dark-4;
        color: $ssb-dark-5;
        font-weight: normal;
      }
    }
  }

  .sb-icon {
    display: inline-flex;
    font-size: 18px;
    margin-right: 5px;
  }
}