.ssb-text-wrapper {
  @include open-sans;
  color: $ssb-dark-6;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.7;
  max-width: $max-readable-width;

  &.small-text {
    font-size: 14px;
  }

  &.negative {
    color: $ssb-white;
  }
}
