.ssb-text-area {
  @include roboto;
  cursor: text;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  position: relative;

  &:hover {

    textarea {
      border: 1px solid $ssb-green-4;
      outline: 1px solid $ssb-green-4;

      &:disabled {
        border: 1px solid $ssb-dark-5;
      }
    }
  }

  textarea {
    @include roboto;
    background: $ssb-white;
    border: 1px solid $ssb-dark-5;
    box-sizing: border-box;
    color: $ssb-dark-6;
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: $input-field-height;
    min-width: 200px;
    padding: 11px 12px;
    width: 100%;

    &:focus {
      border: 1px solid $ssb-green-4;
      outline: 1px solid $ssb-green-4;
      outline-offset: 0;
    }
  }

  label {
    color: $ssb-dark-6;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  &.negative {

    .text-area-wrapper {

      ::placeholder {
        color: $ssb-white;
        opacity: 1;
      }
    }

    &:hover {

      textarea {
        border: 1px solid $ssb-green-2;
        outline: 1px solid $ssb-green-2;

        &:disabled {
          border: 1px solid $ssb-white;
        }
      }
    }

    label {
      color: $ssb-white;
    }

    textarea {
      background: transparent;
      border: 1px solid $ssb-white;
      color: $ssb-white;

      &:disabled {
        border: 1px solid $ssb-white;
      }

      &:focus {
        border: 1px solid $ssb-green-2;
        outline: 1px solid $ssb-green-2;
        outline-offset: 0;
      }
    }

    &.error {

      textarea {
        border: 1px solid $ssb-red-3;
        outline: 1px solid $ssb-red-3;
      }
    }
  }

  &.error {

    textarea {
      border: 1px solid $ssb-red-3;
      outline: 1px solid $ssb-red-3;
    }
  }
}
