@use '../../style/variables';

.ssb-text-area {
  @include variables.roboto;
  cursor: text;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  position: relative;

  &:hover {
    textarea {
      border: 1px solid variables.$ssb-green-4;
      outline: 1px solid variables.$ssb-green-4;

      &:disabled {
        border: 1px solid variables.$ssb-dark-5;
      }
    }
  }

  textarea {
    @include variables.roboto;
    background: variables.$ssb-white;
    border: 1px solid variables.$ssb-dark-5;
    box-sizing: border-box;
    color: variables.$ssb-dark-6;
    font-size: 16px;
    line-height: 1.25;
    min-height: variables.$input-field-height;
    min-width: 200px;
    padding: 11px 12px;
    width: 100%;

    &:focus {
      border: 1px solid variables.$ssb-green-4;
      outline: 1px solid variables.$ssb-green-4;
      outline-offset: 0;
    }
  }

  label {
    color: variables.$ssb-dark-6;
    font-size: 14px;
    margin-bottom: 5px;
  }

  &.negative {
    .text-area-wrapper {
      ::placeholder {
        color: variables.$ssb-white;
        opacity: 1;
      }
    }

    &:hover {
      textarea {
        border: 1px solid variables.$ssb-green-2;
        outline: 1px solid variables.$ssb-green-2;

        &:disabled {
          border: 1px solid variables.$ssb-white;
        }
      }
    }

    label {
      color: variables.$ssb-white;
    }

    textarea {
      background: transparent;
      border: 1px solid variables.$ssb-white;
      color: variables.$ssb-white;

      &:disabled {
        border: 1px solid variables.$ssb-white;
      }

      &:focus {
        border: 1px solid variables.$ssb-green-2;
        outline: 1px solid variables.$ssb-green-2;
        outline-offset: 0;
      }
    }

    &.error {
      textarea {
        border: 1px solid variables.$ssb-red-3;
        outline: 1px solid variables.$ssb-red-3;
      }
    }
  }

  &.error {
    textarea {
      border: 1px solid variables.$ssb-red-3;
      outline: 1px solid variables.$ssb-red-3;
    }
  }
}
