@use '../../style/variables';

.ssb-tabs {
  display: flex;
  flex-direction: row;

  .navigation-item {
    @include variables.reset-button;
    @include variables.roboto;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    line-height: 1.25;
    outline: none;
    padding: 20px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 0.2s;

    &:not(:last-of-type) {
      margin-right: 40px;

      @media #{variables.$mobile} {
        margin-right: 0;
      }
    }

    &::before {
      background: variables.$ssb-dark-5;
      bottom: 0;
      content: '';
      display: block;
      height: 0;
      left: 0;
      position: absolute;
      transition: all 0.2s;
      width: 100%;
    }

    &.active {
      &::before {
        background: variables.$ssb-green-3;
        height: 4px;
      }
    }

    @media #{variables.$mobile} {
      padding-left: 20px;
      padding-right: 20px;
    }

    &:hover,
    &:focus {
      &::before {
        height: 4px;
      }
    }
  }
}
