.ssb-tabs {
  @include roboto;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: bold;

  .navigation-item {
    @include reset-button;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background .2s;

    &:not(:last-of-type) {
      margin-right: $global-padding-size * 2;
    }

    &:before {
      background: $ssb-dark-5;
      bottom: 0;
      content: '';
      display: block;
      height: 0;
      left: 0;
      position: absolute;
      transition: all .2s;
      width: 100%;
    }

    &.active {

      &:before {
        background: $ssb-green-3;
        height: 4px;
      }
    }

    &:hover {

      &:before {
        height: 4px;
      }
    }
  }
}
