.ssb-title {
  color: $ssb-dark-6;
  margin-top: 0;

  &.negative {
    color: $ssb-white;
  }

  @at-root {

    h1#{&} {
      @include roboto-condenced;
      font-size: 4rem;
      font-weight: bold;
      line-height: 5rem;
    }

    h2#{&} {
      @include roboto-condenced;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 3rem;
    }

    h3#{&} {
      @include roboto;
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 2rem;
    }

    h4#{&} {
      @include roboto;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.8rem;
    }

    h5#{&} {
      @include roboto;
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 1.7rem;
    }

    h6#{&} {
      @include roboto;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.7rem;
    }

    @media #{$mobile} {

      h1#{&} {
        font-size: 3rem;
        line-height: 4rem;
      }

      h2#{&} {
        font-size: 1.8rem;
        line-height: 2rem;
      }

      // No change for h3 and h4
    }
  }
}
