@use '../../style/variables';

.ssb-title {
  color: variables.$ssb-dark-6;
  margin-top: 0;

  &.negative {
    color: variables.$ssb-white;
  }

  &.semibold {
    font-weight: 600;
  }

  @at-root {
    h1#{&} {
      @include variables.roboto-condenced;
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 5rem;
    }

    h2#{&} {
      @include variables.roboto-condenced;
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 2.5rem;
    }

    h3#{&} {
      @include variables.roboto;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 2rem;
    }

    h4#{&} {
      @include variables.roboto;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.75rem;
    }

    h5#{&} {
      @include variables.roboto;
      font-size: 20px;
      font-weight: 400;
      line-height: 1rem;
    }

    h6#{&} {
      @include variables.roboto;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.7rem;
    }

    @media #{variables.$mobile} {
      h1#{&} {
        font-size: 2.75rem;
        line-height: 3.5rem;
      }

      h2#{&} {
        font-size: 1.75rem;
        line-height: 2.25rem;
      }

      // No change for h3 and h4
    }
  }
}
