.ssb-sticky-menu {
  @include roboto;
  background-color: $ssb-white;
  border: solid 1px #e3e3e3;
  box-shadow: 0 2px 4px 1px rgba(200, 200, 200, 0.5);
  color: $ssb-dark-6;
  display: flex;
  line-height: normal;
  max-width: 1400px;
  min-height: 98px;

  .chevron-down-icon {
    color: $ssb-green-4;
    margin-right: 2px;
  }

  .content {
    align-items: center;
    display: flex;
  }

  input {
    width: 280px;
  }

  .input-header {
    color: $ssb-dark-5;
    font-size: 18px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 14px;
  }

  .title{
    font-size: 24px;
    font-weight: bold;
  }

}