.ssb-sticky-menu {
  @include roboto;
  align-items: center;
  background-color: $ssb-white;
  border: solid 1px $ssb-dark-2;
  box-shadow: 2px 2px 10px 0 rgb(206 205 205 / 50%);
  color: $ssb-dark-6;
  display: flex;
  justify-content: center;
  line-height: normal;
  position: sticky;
  top: 0;
  width: 100%;

  .menu-content {
    max-width: 1200px;
    width: 100%;
  }

  .chevron-down-icon {
    color: $ssb-green-4;
    font-size: 18px;
    margin-right: 2px;
  }

  input {
    min-width: 180px;
    width: 100%;
  }

  .input-header {
    color: $ssb-dark-5;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
  }
}
