.ssb-key-figures {
  @include roboto;
  column-gap: $global-padding-size * 2;
  display: inline-grid;
  grid-auto-flow: column;

  .kf-icon {
    color: $ssb-dark-5;
    display: inline-flex;

    &.large {
      max-height: 230px;
      max-width: 230px;
      width: 230px;

      & > * {
        height: 100%;
        width: 100%;
      }
    }

    &.medium {
      max-height: 180px;
      max-width: 180px;
      width: 180px;

      & > * {
        height: 100%;
        width: 100%;
      }
    }

    &.small {
      max-height: 130px;
      max-width: 130px;
      width: 130px;

      & > * {
        height: 100%;
        width: 100%;
      }
    }
  }

  .kf-time {
    @include open-sans;
    font-size: 16px;
    margin-top: 6px;
  }

  .kf-title {
    @include roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
  }
}
