$large-size: 195px;
$medium-size: 150px;
$small-size: 108px;

.ssb-key-figures {
  @include roboto;
  color: $ssb-dark-5;
  column-gap: $global-padding-size * 2;
  display: inline-grid;
  grid-auto-flow: column;

  .kf-icon {
    color: $ssb-dark-5;
    display: inline-flex;

    & > * {
      width: 100%;
    }
  }

  .kf-changes {
    align-items: center;
    display: flex;
    margin-top: 12px;

    .changes-text {
      font-weight: bold;
      font-size: 20px;
    }

    .changes-periode {
      font-size: 16px;
    }
  }

  &.large {

    .kf-icon {
      max-height: $large-size;
      max-width: $large-size;
      width: $large-size;
    }

    .subtitle {
      margin-bottom: 32px;

      @media #{$mobile} {
        margin-bottom: 14px;
      }
    }
  }

  &.medium {

    .kf-icon {
      max-height: $medium-size;
      max-width: $medium-size;
      width: $medium-size;
    }

    .subtitle {
      margin-bottom: 18px;

      @media #{$mobile} {
        margin-bottom: 8px;
      }
    }
  }

  &.small {

    .kf-icon {
      max-height: $small-size;
      max-width: $small-size;
      width: $small-size;
    }

    .subtitle {
      margin-bottom: 8px;
    }
  }

  @media #{$mobile} {

    .kf-icon {
      display: none;
    }
  }

  .number-section {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  .kf-time {
    @include open-sans;
    font-size: 16px;
    margin-top: 4px;
  }

  .kf-title {
    @include roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;

    &.subtitle {
      color: $ssb-dark-5;
    }
  }

  .no-number {
    @include roboto;
    color: $ssb-dark-3;
    font-size: 20px;
    font-weight: bold;
  }
}
