.ssb-input-error {
  @include roboto;
  background: $ssb-red-3;
  color: $ssb-white;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  line-height: normal;
  margin-top: 12px;
  padding: 4px 8px;
  position: relative;

  &.negative {
    color: $ssb-dark-5;
  }

  &::before {
    border-color: transparent transparent $ssb-red-3;
    border-style: solid;
    border-width: 8px;
    content: '';
    position: absolute;
    top: -16px;
  }
}
