$default-font-size: 16px;
$profiled-font-size: 18px;
$header-font-size: 20px;
$icon-padding: 8px;

.ssb-category-link {
  @include open-sans;
  align-items: center;
  background-color: $ssb-white;
  background-image: linear-gradient(120deg, $ssb-green-4 0%, $ssb-green-4 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  border: 1px solid $ssb-dark-2;
  border-bottom: 3px solid $ssb-green-4;
  color: $ssb-green-4;
  cursor: pointer;
  display: block;
  font-size: $default-font-size;
  padding: 20px 40px;
  line-height: 1.7;
  position: relative;
  text-decoration: none;
  transition: background-size .2s ease-in, color .1s;
  width: 100%;
  box-sizing: border-box;

  @media #{$mobile} {
    padding: 20px 20px;
  }

  .div-wrapper:after {
      content: "";
      display: table;
      clear: both;
  }

  // .text-divs {
  //   width: 100%;
  // }

  .div-wrapper {
    display: grid;
    grid-template-columns: auto 24px;
    grid-template-rows: auto auto;

  }

  .icon-wrapper {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
    align-self: center;
    align-content: center;
  }

  .title-wrapper {
    grid-column: 1;
    grid-row: 1;
  }

  .sub-wrapper {
    grid-column: 1;
    grid-row: 2;
    margin-top: 3px;
  }

  .link-title-text {
    @include roboto;
    color: $ssb-dark-6;
    font-size: $header-font-size;
    font-weight: bold;
  }

  .link-sub-text {
    color: $ssb-dark-6;
  }

  &:hover, &:focus {
    background-size: 100% 100%;
    color: $ssb-white;
    outline: 0;
    text-decoration: none;

    .link-title-text, .link-sub-text {
      color: $ssb-white;
    }
  }

  .link-text {
    color: $ssb-green-4;
    transition: color .1s;

    &:hover, &:focus {
      color: $ssb-white;
      outline: 0;
    }
  }
}
