.ssb-card {
  @include roboto;
  display: flex;

  .clickable {
    @include focus-marker;
    @include reset-button;

    .card-image {
      display: flex;

      img {
        height: 214px;
        width: 380px;
      }
    }

    &.left-orientation {
      display: flex;
      flex-direction: row;

      .card-content {
        height: 214px;
        width: 100%;
      }

      @media #{$mobile} {
        flex-direction: column;

        .card-content {
          max-width: 380px;
        }
      }
    }

    &.top-orientation {
      display: flex;
      flex-direction: column;

      .card-content {
        max-width: 380px;
      }
    }

    &:hover {
      text-decoration: none;

      &.left-orientation {

        .card-content {
          border-left: 5px solid $ssb-green-4;
          @media #{$mobile} {
            border-left: 1px solid $ssb-green-4;
            border-top: 5px solid $ssb-green-4;
          }
        }
      }

      &.top-orientation {

        .card-content {
          border-top: 5px solid $ssb-green-4;
        }
      }

      .card-content {
        border: 1px solid $ssb-green-4;

        &:not(.with-image) {
        border-top: 5px solid $ssb-green-4;
        }

        &.with-image {

          .card-title {
            background-color: $ssb-green-4;
            border-bottom: none;
            color: $ssb-white;
            padding: 1px 2px;
          }
        }

        .arrow-icon {
          border: 2px solid $ssb-green-4;
          border-radius: 50%;
          box-sizing: initial;
          padding: 2px;
        }

        .card-action {
          align-items: center;
          background-color: $ssb-green-4;
          display: flex;
          padding: 5px;
          width: fit-content;

          .arrow-icon {
            border: none;
            color: $ssb-white;
          }

          .href-text {
            color: $ssb-white;
          }
        }

      }
    }
  }

  .card-content {
    background: $ssb-white;
    border: 1px solid $ssb-dark-2;
    border-top: 5px solid $ssb-green-3;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    flex-direction: column;
    padding: 20px;
    width: 100%;

    &.with-image {
      border-top: 1px solid $ssb-dark-2;

      .card-title {
        border-bottom: 2px solid $ssb-green-4;
        display: table;
      }
    }

    &.profiled {
      align-items: center;
      display: inline-flex;
      text-align: center;

      .card-title {
        font-size: 28px;
      }

      .card-icon {
        margin-bottom: 20px;
        max-height: 132px;
        max-width: 132px;
        width: 132px;
      }
    }

    .arrow-icon {
      color: $ssb-green-4;
      display: block;
      margin-top: 16px;
    }

    .card-action {
      @include open-sans;
      align-items: center;
      display: flex;
      margin-top: 16px;

      .arrow-icon {
        margin-top: 0;
        margin-right: 5px;
        padding-left: 0;
      }

      .href-text {
        color: $ssb-dark-6;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .card-icon {
      margin-bottom: 16px;
      max-height: 28px;
      max-width: 28px;
      width: 28px;
    }

    .card-subtitle {
      @include open-sans;
      font-size: 14px;
      margin-bottom: 8px;
    }

    .card-title {
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  .download-section {
    @include open-sans;
    align-items: center;
    border: 1px solid $ssb-dark-2;
    cursor: pointer;
    display: flex;
    height: 60px;
    max-width: 380px;
    text-decoration: none;

    &:focus {
      @include focus-ring;
    }

    &:hover {
      border: 1px solid $ssb-green-3;
    }

    .download-icon {
      color: $ssb-green-4;
      margin: 0 18px;
    }

    span {
      color: $ssb-dark-6;
      font-size: 16px;
    }
  }
}
