.ssb-card {

  .clickable {
    @include focus-marker;
    @include reset-button;

    img {
      max-width: 400px;
    }

    &.left-orientation {
      display: flex;
      flex-direction: row;
    }

    &.top-orientation {
      display: flex;
      flex-direction: column;
    }

    &:hover {

      .card-content {
        border: 1px solid $ssb-green-3;
        border-top: 5px solid $ssb-green-3;
      }
    }
  }

  .card-content {
    background: $ssb-white;
    border: 1px solid $ssb-dark-2;
    border-top: 5px solid $ssb-green-3;
    cursor: pointer;
    display: inline-block;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    width: 100%;

    &.centered {
      align-items: center;
      display: inline-flex;
      text-align: center;
    }
  }

  .download-section {
    @include open-sans;
    align-items: center;
    border: 1px solid $ssb-dark-2;
    cursor: pointer;
    display: flex;
    height: 60px;
    text-decoration: none;

    &:focus {
      @include focus-ring;
    }

    &:hover {
      border: 1px solid $ssb-green-3;
    }

    .download-icon {
      color: $ssb-green-4;
      font-size: 20px;
      margin: 0 18px;
    }

    span {
      color: $ssb-dark-6;
      font-size: 16px;
    }
  }
}
