@use '../../style/variables';

.ssb-divider {
  border: 0;
  border-top: 1px solid;
  display: block;
  height: 2px;
  margin: 0;
  position: relative;
  width: 100%;

  &.type-dark {
    border-top-color: variables.$ssb-dark-5;
  }

  &.type-light {
    border-top-color: variables.$ssb-dark-2;
  }
}
