body {
  @include open-sans;
  color: $ssb-dark-6;
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.no-margin {
  margin: 0 !important;
}
