.ssb-form-error {
  @include roboto;
  background: #fee6d9;
  border-left: 4px solid $ssb-red-4;
  display: flex;
  padding: 24px 24px 24px 0;
  width: 100%;

  .error-icon {
    color: $ssb-red-4;
    margin: 0 15px;
  }

  .error-title {
    color: $ssb-red-4;
    font-weight: bold;
  }

  ul {
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 20px;
  }
}
