.ssb-form-error {
  @include roboto;
  background: $ssb-white;
  border: 2px solid $ssb-red-3;
  border-left: 4px solid $ssb-red-3;
  display: flex;
  padding: 20px 20px 20px 0;
  width: 100%;

  .error-icon {
    margin: 0 15px;

    &:before {
      align-items: center;
      background: $ssb-red-3;
      border-radius: 2px;
      color: $ssb-white;
      content: "!";
      display: inline-flex;
      font-size: 18px;
      font-weight: bold;
      height: 28px;
      justify-content: center;
      width: 28px;
    }
  }

  .error-title {
    color: $ssb-red-3;
    font-weight: bold;
    line-height: 1.25;
  }

  ul {
    color: $ssb-dark-6;
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 18px;
  }

  &.negative {
    background: $ssb-dark-5;

    ul {
      color: $ssb-white;
    }
  }
}
