.ssb-expansion-box {
  display: grid;
  width: 740px;
  border: 1px solid $ssb-green-4;
  border-radius: 8px;

  &:hover {
    box-shadow: 0 0 0 1px $ssb-green-4;

    .icon-wrapper::before {
      width: 50px;
      height: 50px;
    }

    .icon-wrapper .expand-icon {
      color: $ssb-white;
    }
  }

  &.sneak-peek{
    .header{
      padding: 30px 40px 20px;
    }

    .content.closed {
      position: relative;
      max-height: 70px;
      opacity: 1;
      margin-bottom: 30px;
    }
    
    .content.closed::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: linear-gradient(to bottom, rgba(255 255 255 / 0%) 50%, rgba(255 255 255) 100%);
    }
  }

  .icon-wrapper {
    position: relative;
    display: inline-block;
    margin-left: auto;
    width: 24px;
    height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: $ssb-green-4;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }

    .expand-icon {
      color: $ssb-green-4;
      position: relative;
      z-index: 1;
    }
  }  

  .header {
    @include reset-button;
    @include roboto;
    color: $ssb-dark-6;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 40px;

    &:focus-visible {
      outline: $ssb-purple-3 solid 2px;
      outline-offset: 2px;
      border-radius: 8px;
    }

    .button-grid {
      align-items: center;
      cursor: pointer;
      display: flex;
      grid-column-gap: 28px;
      grid-template-columns: auto 20px;
    }

    

    .icon {
      display: inline-flex;
      font-size: 18px;
      margin-right: 5px;
    }
  }

  .content {
    @include open-sans;
    color: $ssb-dark-6;
    font-size: 16px;
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .5s ease-out, opacity .5s ease-out;

    &.open {
      padding: 0 40px 30px;
      max-height: 500px;
      opacity: 1;
    }
  }
}