.ssb-checkbox {
  @include roboto;
  color: $ssb-dark-6;
  cursor: pointer;
  display: block;
  font-size: 16px;
  min-width: 200px;
  outline: none;
  position: relative;
  text-align: left;
  user-select: none;

  &:hover, &:focus {

    .checkbox-label {

      &:before {
        border: 2px solid $ssb-green-4;
      }
    }
  }

  input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    position: absolute;

    &:focus + .checkbox-label {

      &:before {
        border: 2px solid $ssb-green-4;
      }
    }

    &:checked + .checkbox-label {

      &:before {
        background: $ssb-dark-5;
      }

      &:after {
        border: solid $ssb-white;
        border-width: 0 3px 3px 0;
        content: '';
        display: block;
        height: 12px;
        left: 11px;
        position: absolute;
        top: 9px;
        transform: rotate(45deg);
        width: 6px;
      }
    }

    &:disabled + .checkbox-label {
      background: $ssb-white;
      color: $ssb-dark-2;
      cursor: default;

      &:before {
        border: 1px solid $ssb-dark-2;
      }
    }
  }

  .checkbox-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 0;
    padding: 4px;
    position: relative;

    &:before {
      background: $ssb-white;
      border: 1px solid $ssb-dark-5;
      border-radius: 2px;
      content: '';
      display: block;
      height: 20px;
      margin-right: $global-padding-size;
      width: 20px;
    }
  }
}
