.ssb-dialog {
  @include open-sans;
  display: flex;
  margin: 20px;
  max-width: 880px;
  min-height: 95px;

  .icon-panel {
    color: $ssb-white;
    display: flex;
    flex-shrink: 0;
    font-size: 36px;
    justify-content: center;
    padding-top: 20px;
    width: 90px;

    .icon {
      font-size: 40px;
    }
  }

  .dialog-content {
    padding: 16px;

    .dialog-title {
      font-weight: bold;
    }

    .content {
      margin-top: 8px;
    }
  }

  &.warning {
    border: 2px solid $ssb-red-3;

    .icon-panel {
      background: $ssb-red-3;
    }
  }

  &.info {
    border: 2px solid $ssb-blue-3;

    .icon-panel {
      background: $ssb-blue-3;
    }
  }
}
