@use '../../style/variables' as variables;

.ssb-table-wrapper {
  width: 100%;
  overflow-x: auto;

  .ssb-table {
    @include roboto;
    line-height: 1.75rem;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid variables.$ssb-dark-5;

    caption,
    th,
    td {
      border: 1px solid variables.$ssb-dark-5;
    }

    caption,
    td {
      border-bottom: transparent;
    }

    tfoot td > * {
      @media #{$desktop} {
        max-width: 780px;
      }
    }

    .caption-text-wrapper {
      @media #{$desktop} {
        max-width: 998px;
      }

      @media #{$mobile} {
        max-width: none;
      }
    }

    th,
    td {
      text-align: left;
      padding: 0.5rem 1rem;

      &.level1 {
        padding-left: 1.75rem;
      }

      &.level2 {
        padding-left: 2.5rem;
      }

      &.level3 {
        padding-left: 3.25rem;
      }

      th {
        vertical-align: bottom;
      }
    }

    caption {
      caption-side: top;
      color: $ssb-dark-6;
      text-align: left;
      position: relative;
      padding: 1.25rem 1rem;

      @media (max-width: $desktop-screen) {
        padding-top: 47px;

        .caption-wrapper .scroll-icon-wrapper {
          margin-top: -100px;
        }

        .caption-wrapper.single-line .scroll-icon-wrapper {
          margin-top: -70px;
        }
      }

      .icon-container {
        padding: 0 1rem;
      }

      .caption-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;

        .caption-text-wrapper {
          font-weight: bold;
          text-align: left;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }

        .scroll-icon-wrapper {
          display: flex;
          align-items: center;
          position: sticky;
          right: 40px;
          left: 40px;
        }

        .scroll-icon {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          overflow: hidden;
          background: transparent;

          &:focus {
            svg {
              fill: variables.$ssb-green-4;
              transition: fill 0.18s;
            }

            svg line,
            svg polyline {
              stroke: variables.$ssb-white;
            }

            svg circle {
              stroke: variables.$ssb-green-4;
              transition: stroke 0.16s;
            }
          }

          &:hover {
            svg {
              fill: variables.$ssb-green-4;
              transition: fill 0.18s;
            }

            svg line,
            svg polyline {
              stroke: variables.$ssb-white;
            }

            svg circle {
              stroke: variables.$ssb-green-4;
              transition: stroke 0.16s;
            }
          }

          &:active {
            svg {
              fill: variables.$ssb-dark-5;
              transition: fill 0.18s;
            }

            svg line,
            svg polyline {
              stroke: variables.$ssb-white;
            }

            svg circle {
              stroke: variables.$ssb-dark-5;
              transition: stroke 0.16s;
            }
          }
        }

        .scroll-icon svg {
          width: 32px;
          height: 32px;
          color: variables.$ssb-green-4;
          stroke-width: 1.5px;
        }
      }
    }

    thead {
      border-bottom: 2px solid variables.$ssb-dark-5;

      th[colspan] {
        text-align: center;
      }
    }

    tbody {
      th {
        font-weight: normal;
        border-bottom: transparent;
      }

      tr {
        &:not(:first-child) {
          th,
          td {
            border-top-color: variables.$ssb-dark-2;
          }
        }

        &:nth-child(odd) {
          background-color: variables.$ssb-green-1;
        }

        &:hover,
        &:nth-child(odd):hover {
          background-color: variables.$ssb-purple-1;
        }
      }

      td {
        white-space: nowrap;
      }
    }

    tfoot {
      border-top: 1px solid variables.$ssb-dark-5;

      tr {
        &:first-of-type > td {
          padding-top: 1.75rem;
        }

        &:last-of-type > td {
          padding-bottom: 1.75rem;
        }
      }

      td {
        border: none;
        padding: 0 1rem 0.5rem;
        word-wrap: break-word;
      }
    }

    sup {
      font-size: xx-small;
    }

    .align-right {
      text-align: right;
    }

    .align-left {
      text-align: left;
    }

    .align-center {
      text-align: center;
    }
  }
}

.scroll-icon-active,
.scroll-icon:active {
  svg {
    fill: var(--ssb-dark-5);
    transition: fill 0.18s;
  }

  svg line,
  svg polyline {
    stroke: var(--ssb-white);
  }

  svg circle {
    stroke: var(--ssb-dark-5);
    transition: stroke 0.16s;
  }
}
