@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');

// Global imports
@import '../node_modules/bootstrap/scss/bootstrap';
@import './style/variables';

// Component imports
@import './components/Accordion/accordion';
@import './components/BlockContent/block-content';
@import './components/Breadcrumb/breadcrumb';
@import './components/Button/button';
@import './components/Checkbox/checkbox';
@import './components/CheckboxGroup/checkbox-group';
@import './components/Dialog/dialog';
@import './components/Divider/divider';
@import './components/Dropdown/dropdown';
@import './components/FactBox/factbox';
@import './components/FormError/form-error';
@import './components/Input/input';
@import './components/InputError/input-error';
@import './components/KeyFigures/key-figures';
@import './components/LeadParagraph/lead-paragraph';
@import './components/Link/link';
@import './components/NestedAccordion/nested-accordion';
@import './components/Number/number';
@import './components/Pagination/pagination';
@import './components/Paragraph/paragraph';
@import './components/ProfileBox/profilebox';
@import './components/Quote/quote';
@import './components/RadioButton/radio-button';
@import './components/RadioGroup/radio-group';
@import './components/References/references';
@import './components/StickyMenu/sticky-menu';
@import './components/Tabs/tabs';
@import './components/Tag/tag';
@import './components/Text/text';
@import './components/Title/title';
@import './components/WordExplanation/word-explanation';
