.ssb-accordion {
  display: grid;
  width: 100%;

  .accordion-header {
    @include reset-button;
    @include roboto;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;

    .button-grid {
      align-items: center;
      cursor: pointer;
      display: grid;
      grid-column-gap: 28px;
      grid-template-columns: auto 20px;
      margin-right: 12px;
    }

    .expand-icon * {
      color: $ssb-green-4;
      font-size: 20px;
    }

    .header-text {
      color: $ssb-dark-6;
    }

    .sub-header {
      color: $ssb-green-4;
    }

    &:hover {
      .header-text,
      .sub-header {
        color: $ssb-green-4;
      }
    }

    &:focus {
      @include focus-ring;
    }
  }

  &:not(.without-borders) {
    &::before {
      border-top: 1px solid $ssb-dark-2;
      content: '';
      height: 2px;
    }

    &::after {
      border-bottom: 1px solid $ssb-dark-2;
      content: '';
      height: 2px;
      margin-bottom: -1px;
    }
  }

  &.with-sub-header {
    .button-grid {
      grid-template-columns: fit-content(100px) auto 20px;
    }

    .accordion-header {
      .header-text {
        grid-column-start: 2;
      }

      .sub-header {
        align-self: start;
        grid-column-start: 1;
      }

      @media #{$mobile} {
        .button-grid {
          grid-template-columns: auto 20px;
          grid-column-gap: 0;
        }

        .sub-header {
          margin-bottom: 10px;
          margin-right: 20px;
          grid-column-start: 1;
          grid-row-start: 1;
        }

        .header-text {
          grid-column-start: 1;
          grid-row-start: 2;
        }
      }
    }
  }

  .accordion-body {
    overflow-x: auto;

    @include open-sans;
    color: $ssb-dark-6;
    font-size: 16px;
    padding: $global-padding-size 50px $global-padding-size 0;

    &.closed {
      display: none;
      height: 0;
    }
  }
}
