.ssb-accordion {
  display: grid;
  width: 100%;

  .accordion-header {
    @include reset-button;

    .button-grid {
      align-items: center;
      cursor: pointer;
      display: grid;
      grid-column-gap: $global-padding-size;
      grid-template-columns: auto 20px;
    }

    .expand-icon {
      color: $ssb-green-4;
      font-size: 20px;
    }

    .header-text {
      color: $ssb-dark-6;
    }

    .sub-header {
      color: $ssb-green-4;
    }

    &:hover {

      .header-text, .sub-header {
        color: $ssb-green-4;
      }
    }

  }

  &:not(.without-borders) {

    &:before {
      border-top: 1px solid $ssb-dark-2;
      content: '';
      height: 2px;
      padding-bottom: $global-padding-size;
    }

    &:after {
      border-bottom: 1px solid $ssb-dark-2;
      content: '';
      height: 2px;
      margin-bottom: -1px;
      padding-top: $global-padding-size;
    }
  }

  &.with-sub-header {

    .button-grid {
      grid-template-columns: fit-content(100px) auto 20px;
    }

    .accordion-header {

      .header-text {
        grid-column-start: 2;
      }

      .sub-header {
        align-self: start;
        grid-column-start: 1;
      }
    }
  }

  .accordion-body {
    @include open-sans;
    color: $ssb-dark-6;
    font-size: 16px;
    padding: $global-padding-size 50px $global-padding-size $global-padding-size;

    &.closed {
      display: none;
      height: 0;
    }
  }
}
