$default-font-size: 16px;
$profiled-font-size: 18px;
$header-font-size: 20px;
$icon-padding: 8px;

.ssb-link {
  @include open-sans;
  align-items: center;
  background-image: linear-gradient(120deg, $ssb-green-4 0%, $ssb-green-4 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  border-bottom: 1px solid $ssb-green-4;
  color: $ssb-green-4;
  cursor: pointer;
  display: inline;
  font-size: $default-font-size;
  line-height: 1.7;
  margin-top: -3px;
  margin-bottom: -2px;
  padding: 0 1px 2px 1px;
  position: relative;
  text-decoration: none;
  transition: background-size .2s ease-in, color .1s;

  .icon-wrapper {
    display: flex;
    margin-right: 4px;
    margin-top: 5px;
  }

  &.header {
    @include roboto;
    border-bottom-width: 2px;
    font-size: $header-font-size;
    font-weight: bold;

    .link-text {
      color: $ssb-dark-6;
    }
  }

  &:hover, &:focus {
    background-size: 100% 100%;
    color: $ssb-white;
    outline: 0;
    text-decoration: none;

    .link-text {
      color: $ssb-white;
    }
  }

  &.negative {
    background-image: linear-gradient(120deg, $ssb-green-2 0%, $ssb-green-2 100%);
    border-bottom: 1px solid $ssb-green-2;
    color: $ssb-green-2;

    .link-text {
      color: $ssb-green-2;
    }

    &.header {
      border-bottom-width: 2px;

      .link-text {
        color: $ssb-white;
      }
    }

    &.with-icon {
      padding: 2px 2px 0;
      border-bottom: none;
      display: inline-flex;
      align-items: flex-start;

      i {
        font-size: 20px;
      }

      .link-text {
        color: $ssb-white;
      }

      &:hover, &:focus {
        color: $ssb-dark-5;

        .link-text {
          color: $ssb-dark-5;
        }
      }

    }

    &:hover, &:focus {
      color: $ssb-dark-5;
      outline: 0;

      .link-text {
        color: $ssb-dark-5;
      }
    }
  }

  &.profiled {
    border-bottom-width: 2px;
    font-size: $profiled-font-size;
    font-weight: bold;
  }

  &.with-icon {
    padding: 2px 2px 0;
    border-bottom: none;
    display: inline-flex;
    align-items: flex-start;

    i {
      font-size: 16px;
    }

    .link-text {
      color: $ssb-dark-6;
    }

    &:hover, &:focus {
      color: $ssb-white;

      .link-text {
        color: $ssb-white;
      }
    }
  }

  .link-text {
    color: $ssb-green-4;
    transition: color .1s;

    &:hover, &:focus {
      color: $ssb-white;
      outline: 0;
    }
  }
}
