name: Node CI

on: [push]

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: npm install, build, and test
        run: |
          npm ci
          npm run build:prod
          npm test
        env:
          CI: true
      - name: lint
        run: |
          npm run lint:js
          npm run lint:css
        env:
          CI: true

  publish:
    needs: build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - run: npm run build:prod
      - run: npm test
      - uses: JS-DevTools/npm-publish@v4
        id: publishNpm
        with:
          dry-run: false
      - if: ${{ steps.publishNpm.outputs.type }}
        run: gh release create ${{ steps.publishNpm.outputs.version }} --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
